.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  color: #000;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.3;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  color: #737373;
  margin-bottom: 0;
}

a {
  color: #393939;
  text-decoration: none;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_wrapper {
  max-width: 20rem;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.margin-custom2 {
  margin: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xsmall {
  margin: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-large {
  margin: 3rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.padding-small {
  padding: 1rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.margin-huge {
  margin: 6rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-tiny {
  padding: .125rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-vertical.padding-huge._2 {
  padding-bottom: 0;
}

.padding-vertical.padding-xhuge._2 {
  padding-bottom: 4rem;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form_checkbox-icon {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  background-size: 90%;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_background {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, rgba(0, 115, 230, .1), rgba(255, 255, 255, 0));
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: stretch;
  display: grid;
  position: relative;
}

.form_checkbox-label {
  color: #333;
  font-weight: 500;
}

.icon-1x1-small {
  width: 1rem;
  height: 1rem;
  flex: none;
  transform: rotate(0);
}

.icon-1x1-small.back {
  transform-style: preserve-3d;
  transform: rotateX(0)rotateY(-180deg)rotateZ(0);
}

.overflow-auto {
  overflow: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_item-header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 2rem;
}

.fs-styleguide_heading-large {
  font-size: 6rem;
}

.background-color-black {
  color: #f5f5f5;
  background-color: #000;
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-color-black {
  color: #000;
}

.text-color-grey {
  color: gray;
}

.fs-styleguide_2-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.form_message-success {
  padding: 1.25rem;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-h3 {
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
}

.heading-style-h3-custom {
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  padding: 0px 26px;
}


.text-rich-text h1, .text-rich-text h2, .text-rich-text h3, .text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text ul, .text-rich-text ol {
  margin-bottom: 1.5rem;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-small {
  height: 1rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.heading-style-h1 {
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.text-color-white {
  color: #fff;
}

.text-style-italic {
  font-style: italic;
}

.text-weight-medium {
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

.fs-styleguide_section-header {
  width: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid #000;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.text-size-tiny {
  font-size: .75rem;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.fs-styleguide_1-col {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.overflow-visible {
  overflow: visible;
}

.fs-styleguide_empty-box {
  z-index: -1;
  height: 3rem;
  min-width: 3rem;
  background-color: rgba(0, 115, 230, .1);
  border: 1px dashed #0073e6;
  position: relative;
}

.text-weight-light {
  font-weight: 300;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.fs-styleguide_4-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.text-weight-bold._1 {
  margin-left: 1rem;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_item-wrapper {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: start;
  display: grid;
}

.background-color-white {
  background-color: #fff;
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.heading-style-h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  border-width: .25rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.background-color-grey {
  background-color: #f5f5f5;
}

.form_input {
  min-height: 3rem;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
  font-style: italic;
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
}

.heading-style-h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.fs-styleguide_3-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.text-style-link {
  color: #000;
  text-decoration: underline;
}

.text-size-large {
  font-size: 1.5rem;
}

.fs-styleguide_header {
  background-color: rgba(0, 0, 0, .05);
}

.heading-style-h2 {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
}

.fs-styleguide_label {
  color: #fff;
  background-color: #0073e6;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem;
  font-weight: 600;
  line-height: 1.4;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: #be4aa5;
}

.fs-styleguide_label.is-hex {
  color: #000;
  background-color: #f5f5f5;
}

.fs-styleguide_version {
  z-index: 5;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.heading-style-h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-medium {
  height: 2rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.form_message-error {
  margin-top: .75rem;
  padding: .75rem;
}

.icon-height-large {
  height: 3rem;
}

.text-align-center {
  text-align: center;
}

.form_component {
  margin-bottom: 0;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #08a3d1;
  border-radius: 50px;
  padding: .75rem 1.5rem;
  font-weight: 400;
}

.button.is-text {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-form-submit._5-r {
  text-transform: uppercase;
  background-image: url('../images/Arrow-1.svg');
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: 20px;
  border-radius: 5px;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #000;
  border-bottom-width: .125rem;
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.button.is-icon.is-secondary {
  color: #08a3d1;
  border-width: 1px;
  border-color: #08a3d1;
}

.button.is-icon.form {
  border-radius: 7px;
}

.button.is-icon.form.w--current {
  background-color: #08a3d1;
  margin-top: 0;
}

.button.is-icon.form.back {
  background-color: #818a91;
  margin-right: 40px;
}

.button.hero {
  border-radius: 10px;
  flex: 1;
}

.button.center-sec {
  width: 100%;
  border-radius: 10px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

.button.process {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

.button.process.hide-desktop {
  display: none;
}

.button._2 {
  color: #252b42;
  background-color: #fef922;
  font-weight: 700;
}

.button._3 {
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
}

.button.cta {
  color: #08a3d1;
  background-color: #fff;
  border-radius: 5px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-medium {
  font-size: 1.25rem;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hide {
  display: none;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.fs-styleguide_spacing-all {
  display: none;
}

.fs-styleguide_color.is-1 {
  background-color: #000;
}

.fs-styleguide_color.is-2 {
  background-color: #f5f5f5;
}

.fs-styleguide_color.is-3 {
  background-color: #fff;
}

.uui-navbar02_menu-button {
  padding: 0;
}

.uui-navbar02_menu-right {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: flex;
}

.uui-navbar02_container {
  width: 100%;
  max-width: 80rem;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.uui-navbar02_menu {
  justify-content: space-between;
  align-items: center;
  position: static;
}

.uui-navbar02_logo-link {
  padding-left: 0;
}

.uui-navbar02_component {
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  align-items: center;
  padding: 10px 2.5rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav_link-button {
  color: #000;
  background-color: #fef922;
  border-radius: 33px;
  align-items: center;
  margin-bottom: 40px;
  padding: 5px 10px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  text-decoration: none;
  display: flex;
}

.nav_link-button.hide-desktop {
  display: none;
}

.nav_img {
  margin-right: 10px;
}

.section_home-hero {
  background-image: url('../images/family-moving-using-boxes-1.png');
  background-position: 50% 0;
  background-size: cover;
}

.home_hero-component {
  grid-column-gap: 30px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.home_hero-heading {
  width: 50%;
}

.text-span-yellow {
  color: #fef922;
}

.list-wrap {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.lis-1 {
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

.list-text {
  color: #fff;
  margin-left: 10px;
}

.heor-button-wrap {
  max-width: 230px;
  align-items: center;
  display: flex;
}

.hero_form-wrap {
  width: 45%;
  background-color: #fff;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 35px 26px;
  display: flex;
  box-shadow: 1px 1px 24px rgba(0, 0, 0, .5);
}


.hero-padding-custom{
  padding: 35px 0px 0px !important;
}


.hero_form-wrap.hide-tablet {
  width: 100%;
}

.hero_form-wrap.hide-desktop {
  display: none;
}

.form_block {
  margin-bottom: 0;
}

.form {
  grid-column-gap: 13px;
  flex-direction: column;
  margin-top: 20px;
  display: flex;
}

.text-span-blue {
  color: #08a3d1;
}

.inpur-form-wrap {
  grid-column-gap: 13px;
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.checkbox-button-wrap {
  justify-content: space-between;
  margin-top: 20px;
  display: flex;
}

.home_2-heading {
  max-width: 55rem;
  grid-row-gap: 25px;
  text-align: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.home_features-wrap {
  margin-top: 60px;
  display: block;
}

.home_features-wrap.desktop-hide {
  display: flex;
}

.home_features-wrap.hide-tablet {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.home_features-wrap.l {
  display: none;
}

.features-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.features-item {
  height: 500px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 10px 111px;
  transition: all .25s;
  display: flex;
}

.features-item:hover {
  box-shadow: 5px 5px 24px rgba(0, 0, 0, .19);
}

.button-wrap-center {
  max-width: 12rem;
  justify-content: center;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.section_home-process {
  background-color: #f0f9ff;
}

.home_process-headind {
  max-width: 55.8rem;
  text-align: left;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.home_process-wrap {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.process-image-wrap {
  width: 40%;
}

.process-list-wrap {
  width: 50%;
  background-image: url('../images/Vector-10.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 580px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0 0 60px;
  display: flex;
}

.process-item {
  max-width: 25rem;
  grid-column-gap: 20px;
  background-color: #fff;
  border-radius: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 25px;
  display: flex;
}

.process-item._2 {
  margin-left: 100px;
}

.process-text-wrap {
  flex-direction: column;
  display: flex;
}

.process-description {
  color: #737373;
  font-size: 14px;
  font-weight: 600;
}

.home_process-bottom {
  max-width: 45rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.section_home-logo {
  z-index: 2;
  background-color: #08a3d1;
  background-image: url('../images/Rectangle-237-2.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 500px;
}

.logo-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .75fr .75fr .75fr .75fr .75fr .75fr;
  grid-auto-columns: 1fr;
  margin-bottom: 40px;
  display: grid;
}

.logo-item {
  justify-content: center;
  align-items: center;
  display: flex;
}

.process-cta {
  z-index: 2;
  border-radius: 5px;
  flex-direction: column;
  display: flex;
}

.process-cta-heading {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.section_home-testimonial {
  z-index: 1;
  background-color: #fff;
  position: relative;
}

.testimonial-heading-wrap {
  grid-row-gap: 30px;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.testtimonial-wrap {
  max-width: 50rem;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.testimonial-item {
  grid-column-gap: 50px;
  display: flex;
}

.testimonial-text {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.testimonial-bottom-text {
  max-width: 42rem;
  grid-row-gap: 50px;
  color: rgba(51, 51, 51, .8);
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  font-family: Poppins, sans-serif;
  font-size: 25px;
  font-weight: 700;
  display: flex;
}

.section_home-footer {
  background-color: #08a3d1;
}

.footer-wrap {
  color: #737373;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  display: flex;
}

.slider {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
}

.form-wrap {
  max-width: 50rem;
  margin-top: 26px;
  margin-left: auto;
  margin-right: auto;
}

.form-heading {
  max-width: 50rem;
  color: #393939;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 41px;
  display: flex;
}

.test-span-blue {
  color: #0b72f1;
}

.para-form {
  color: #393939;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 400;
}

.steps-counter {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.step {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.step._2 {
  color: #0b72f1;
  border-style: solid;
  border-color: #0b72f1;
}

.step._2.g {
  background-color: #0b72f1;
}

.step._3 {
  border-color: #ccc;
}

.step._3.active {
  border-color: #0b72f1;
}

.step._3.active.l {
  background-color: #0b72f1;
}

.step._4 {
  border-color: #ccc;
}

.step._4.active {
  border-color: #0b72f1;
}

.step.form-2 {
  background-color: #0b72f1;
}

.step._2-form {
  border-style: solid;
  border-color: #0b72f1;
}

.step._1, .step._3 {
  color: #0b72f1;
  border-color: #0b72f1;
}

.divider {
  width: 20%;
  height: 2px;
  background-color: #ccc;
}

.divider.form-2, .divider._3, .divider.done, .divider._2, .divider._1 {
  background-color: #0b72f1;
}

.form-wrap-1 {
  max-width: 35rem;
  border: 1px solid #c9cdd1;
  border-radius: 7px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  display: flex;
}

.form_block-1 {
  grid-column-gap: 70px;
  align-items: center;
  display: flex;
}

.text-field {
  background-color: #eef5ff;
  border-radius: 7px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-field::-ms-input-placeholder {
  color: #000;
}

.text-field::placeholder {
  color: #000;
}

.button-form {
  color: #fff;
  text-align: center;
  background-color: #818a91;
  border-radius: 7px;
  padding: .75rem 1.5rem;
  font-weight: 400;
}

.form-block {
  width: 100%;
  margin-bottom: 0;
}

.field-label {
  color: #393939;
  margin-bottom: .5rem;
  font-size: 14px;
  font-weight: 400;
}

.text-field-2 {
  background-color: #f5f5f5;
  border-radius: 7px;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.text-field-2::-ms-input-placeholder {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.text-field-2::placeholder {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.text-field-2.drop {
  padding-top: 5px;
  padding-bottom: 5px;
}

.text-field-2.s {
  padding-top: 6px;
  padding-bottom: 6px;
}

.form-button-wrap {
  justify-content: center;
  margin-top: 40px;
  display: flex;
}

.social-footer {
  border-bottom: 1px solid #e9e9e9;
  justify-content: space-between;
  margin-top: 140px;
  display: flex;
}

.social-wrap {
  grid-column-gap: 10px;
  align-items: center;
  display: flex;
}

.footer {
  border-bottom: 1px solid #ccc;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  padding: 20px 20px 40px;
  display: flex;
}

.footer-head {
  color: #ccc;
  margin-bottom: 20px;
  font-weight: 700;
}

.footer-para {
  color: #ccc;
  text-align: center;
  font-weight: 400;
}

.footer-para.end {
  margin-top: 40px;
}

.text-block.fomr-2, .text-block.active {
  color: #0b72f1;
}

.lode-ka-form._4 {
  margin-top: 77px;
}

.div-block {
  max-width: 35rem;
  background-color: #f0f7ff;
  border-radius: 7px;
  align-items: center;
  margin: 40px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
}

.text-block-2 {
  text-align: center;
  font-size: 14px;
}

.checkbox {
  width: 15px;
  height: 15px;
  border: 2px solid #0b72f1;
}

.checkbox.w--redirected-checked {
  border-width: 2px;
}

.checkbox-label {
  font-weight: 400;
}

.main-button {
  width: 15%;
  height: 50px;
  background-color: #0b72f1;
  background-image: url('../images/Arrow-1.svg');
  background-position: 85%;
  background-repeat: no-repeat;
  background-size: 20px;
  border-radius: 7px;
  margin-top: 33px;
  margin-left: 400px;
  margin-right: auto;
  padding: .75rem 1.5rem .75rem 0;
  transition: all .3s;
  display: block;
}

.navigation-text {
  margin-top: 5px;
  display: inline-block;
}

.form-slider {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
}

.navigation-button {
  width: auto;
  height: 50px;
  float: none;
  background-color: #818a91;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 14pt;
  display: inline-block;
  position: relative;
}

.navigation-button.next {
  float: right;
  background-color: #c00c00;
  transition: all .3s;
}

.navigation-button.next:hover {
  background-color: #b80b00;
}

.navigation-button.next.button.is-icon.form {
  width: auto;
  height: 50px;
  background-color: #08a3d1;
  top: auto;
  bottom: 30%;
  left: auto;
  right: 30%;
}

.navigation-button.next.button.is-icon.form._1 {
  background-image: url('../images/Arrow-1.svg');
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: 20px;
  justify-content: center;
  align-items: center;
  padding-top: .45rem;
  padding-left: 1.5rem;
  padding-right: 2.3rem;
  top: auto;
  bottom: -15%;
  left: auto;
  right: 40%;
}

.navigation-button.button.is-icon {
  width: 15%;
  border-radius: 7px;
  position: absolute;
  top: auto;
  bottom: -15%;
  left: 30%;
  right: auto;
}

.form-block-2 {
  position: relative;
}

.logo-slider {
  background-color: #c1ddff;
  padding: 20px 2.5rem;
  overflow: hidden;
}

.hero-logo-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.hero-logo-item {
  grid-column-gap: 10px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.slider_mask {
  height: auto;
  padding-bottom: 20px;
}

.left-arrow-2, .right-arrow-2 {
  display: none;
}

.slide-nav {
  font-size: .85rem;
  display: none;
  top: auto;
  bottom: -8%;
  left: 0%;
  right: 0%;
}

.slide-2, .slide-3 {
  width: 30%;
  margin-right: 20px;
}

.slide-4 {
  width: 30%;
}

.image-2 {
  width: 100%;
  display: block;
}

.cta-wrap {
  width: 100%;
  max-width: 80rem;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr .5fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.cta-text-wrap {
  width: 70%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  display: flex;
}

.image-3 {
  width: 100%;
}

.image-3.hide-tablet {
  display: none;
}

.slider-testimonial {
  height: auto;
  background-color: #fff;
  padding-bottom: 0;
  position: relative;
}

.slide-nav-2 {
  display: none;
}

.left_arrow {
  width: 50px;
  height: 50px;
  background-color: #f0f9ff;
  border-radius: 7px;
  justify-content: center;
  display: flex;
  top: auto;
  bottom: -13%;
  left: 0%;
  right: auto;
}

.right-arrow {
  width: 50px;
  height: 50px;
  background-color: #f0f9ff;
  justify-content: center;
  display: flex;
  top: auto;
  bottom: -13%;
  left: 7%;
  right: auto;
}

.testimonial-card-wrap {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.testi-text-wrap {
  width: 45%;
}

.test-description-wrap {
  border-left: 3px solid #08a3d1;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 20px;
}

.testimonial-para {
  color: #333;
  line-height: 1.7;
}

.testimonial-para._1 {
  margin-left: 20px;
}

.testimonial-image-wrap {
  align-items: center;
  display: flex;
}

.testimonial-image {
  width: 40%;
}

.test-image {
  width: 100%;
}

.step-copy {
  width: 50px;
  height: 50px;
  background-color: #0b72f1;
  border: 1px solid #0b72f1;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.image-6 {
  width: 68%;
}

.div-block-2 {
  align-items: center;
  display: none;
}

.image-7 {
  width: 68%;
}

.tab-img {
  display: none;
}

.div-block-3 {
  flex-direction: column;
  display: flex;
}

.img-wrap {
  width: 100%;
}

.tab {
  display: none;
}

.slide-nav-copy {
  background-color: #814c4c;
  font-size: .85rem;
  display: block;
  top: auto;
  bottom: -8%;
  left: 0%;
  right: 0%;
}

@media screen and (min-width: 1280px) {
  .testimonial-bottom-text {
    margin-top: 140px;
  }
}

@media screen and (min-width: 1440px) {
  .home_hero-component {
    align-items: flex-start;
  }
}

@media screen and (min-width: 1920px) {
  .cta-wrap {
    width: 100%;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
  }

  .cta-text-wrap {
    width: auto;
    margin-bottom: 0;
    margin-left: 0;
  }

  .image-3.hide-tablet, .tab-img {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-vertical.padding-xxhuge._1 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-tablet {
    display: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .text-weight-normal.c {
    font-size: .8rem;
  }

  .text-color-white._1 {
    font-size: 35px;
  }

  .text-color-white.max-width-medium {
    max-width: 35rem;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .button.process.hide-desktop {
    display: block;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .menu-icon_line-bottom {
    width: 24px;
    height: 2px;
    background-color: #fff;
    border-radius: 1rem;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon_line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon_line-middle {
    width: 24px;
    height: 2px;
    background-color: #fff;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .menu-icon_line-top {
    width: 24px;
    height: 2px;
    background-color: #fff;
    border-radius: 1rem;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon_component {
    width: 48px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: -.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .uui-navbar02_menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .uui-navbar02_menu-right {
    flex-direction: column-reverse;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    align-items: stretch;
    margin-top: 1.5rem;
    padding-bottom: 7rem;
  }

  .uui-navbar02_menu {
    height: 100vh;
    -webkit-text-fill-color: inherit;
    background-color: #fff;
    background-clip: border-box;
    border-top: 1px solid #f2f4f7;
    align-items: flex-start;
    margin-left: 0;
    padding: 1.5rem 2rem 5rem;
    display: none;
    position: absolute;
    overflow: auto;
  }

  .nav_link-button.hide-desktop {
    width: 60%;
    margin-bottom: 40px;
    display: flex;
  }

  .home_hero-component {
    grid-row-gap: 30px;
    flex-direction: column;
    margin-top: 40px;
  }

  .home_hero-heading, .hero_form-wrap {
    width: 100%;
  }

  .hero_form-wrap.hide-desktop {
    box-shadow: none;
    display: block;
  }

  .section_home-2 {
    padding-bottom: 4rem;
  }

  .home_2-heading {
    margin-top: 60px;
  }

  .home_features-wrap.desktop-hide, .home_features-wrap.l {
    display: block;
  }

  .features-item {
    height: auto;
  }

  .features-item._1 {
    width: 50%;
  }

  .button-wrap-center {
    margin-top: 60px;
  }

  .home_process-headind {
    text-align: center;
    align-items: center;
  }

  .home_process-wrap {
    flex-direction: column;
  }

  .process-image-wrap {
    width: 100%;
  }

  .process-list-wrap {
    width: 100%;
    grid-row-gap: 40px;
    background-image: none;
    background-repeat: repeat;
    background-size: auto;
    align-items: center;
    padding-left: 0;
  }

  .process-item {
    max-width: 60rem;
  }

  .process-item._2 {
    margin-left: 0;
  }

  .section_home-logo {
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto;
  }

  .logo-wrap {
    grid-template-columns: .75fr .75fr .75fr .75fr;
    overflow: hidden;
  }

  .logo-item.h {
    display: none;
  }

  .process-cta {
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    bottom: 0;
  }

  .testimonial-bottom-text {
    margin-top: 220px;
  }

  .footer-wrap {
    flex-direction: column;
  }

  .slider {
    height: auto;
    background-color: #fff;
    padding-bottom: 40px;
    overflow: hidden;
  }

  .left-arrow, .right-arrow {
    display: none;
  }

  .slider-mask {
    width: 100%;
    margin-left: 0;
    padding-bottom: 50px;
    overflow: hidden;
  }

  .slide-1 {
    width: 46%;
    margin-right: 20px;
  }

  .slide-1._2 {
    width: 50%;
  }

  .slider-dots {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: .8rem;
    top: auto;
    bottom: -20%;
    left: 0%;
    right: 0%;
    overflow: hidden;
  }

  .form-heading {
    margin-top: 51px;
  }

  .logo-slider {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .hero-logo-wrap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .slide-nav {
    display: none;
  }

  .slide-2 {
    width: 100%;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .slide-3 {
    width: 40%;
    margin-right: 0;
  }

  .image-2 {
    height: 100%;
  }

  .cta-wrap {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .cta-image-wrap {
    display: block;
  }

  .cta-text-wrap {
    width: auto;
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 0;
  }

  .left_arrow {
    bottom: -25%;
  }

  .right-arrow {
    display: flex;
    bottom: -25%;
    left: 10%;
  }

  .testimonial-card-wrap {
    flex-direction: column;
  }

  .testi-text-wrap {
    width: 100%;
  }

  .testimonial-image, .image-5, .tab-img {
    display: none;
  }

  .img-wrap {
    height: 240px;
  }

  .tab {
    display: block;
  }

  .center {
    grid-column-gap: 50px;
    justify-content: center;
    align-items: stretch;
    display: flex;
  }

  .slide-nav-copy {
    display: block;
  }

  .slider-dot {
    font-size: .8rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .fs-styleguide_heading-large {
    font-size: 3rem;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .heading-style-h3-custom{
    font-size: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .text-weight-normal.c {
    font-size: .8rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-large, .heading-style-h2 {
    font-size: 1.25rem;
  }

  .heading-style-h2.text-color-white.l {
    max-width: 20rem;
  }

  .fs-styleguide_version, .heading-style-h5 {
    font-size: .875rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .uui-navbar02_menu {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .uui-navbar02_component {
    min-height: 4.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav_link-button.hide-desktop {
    width: 80%;
  }

  .home_hero-component {
    margin-top: 100px;
  }

  .features-item._1 {
    width: 80%;
  }

  .slide-1 {
    width: 50%;
  }

  .form-wrap {
    padding-top: 20px;
  }

  .para-form {
    text-align: center;
    font-size: 16px;
  }

  .heading {
    font-size: 2rem;
  }

  .logo-slider {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .hero-logo-wrap {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
  }

  .hero-logo-item {
    justify-content: flex-start;
  }

  .slide-2 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .right-arrow {
    left: 15%;
  }
}

@media screen and (max-width: 479px) {
  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .heading-style-h1 {
    font-size: 2rem;
  }

  .padding-global {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .text-color-white._1 {
    font-size: 25px;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .heading-style-h2.text-color-white.l {
    font-size: 1.25rem;
  }

  .uui-navbar02_logo-link {
    width: 50%;
  }

  .nav_link-button.hide-desktop {
    width: 100%;
  }

  .hero_form-wrap.hide-desktop {
    padding: 10px 10px 20px;
  }

  .home_2-heading {
    margin-top: 20px;
  }

  .features-item {
    height: auto;
    justify-content: space-between;
  }

  .features-item._1 {
    width: 100%;
  }

  .button-wrap-center {
    margin-top: 20px;
  }

  .process-item {
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
  }

  .process-text-wrap {
    margin-top: 20px;
  }

  .logo-wrap {
    grid-template-columns: .75fr .75fr;
    align-items: center;
    justify-items: center;
  }

  .logo-item {
    width: 50%;
  }

  .logo-item.m {
    display: none;
  }

  .process-cta {
    padding-top: 0;
  }

  .process-cta-heading {
    grid-row-gap: 25px;
    flex-direction: column;
    align-items: stretch;
  }

  .testtimonial-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }

  .testimonial-item {
    flex-direction: column;
  }

  .testimonial-text {
    margin-top: 40px;
  }

  .footer-wrap {
    text-align: center;
  }

  .slider-mask {
    margin-left: 0;
    padding-bottom: 0;
  }

  .slide-1, .slide-1._2 {
    width: 100%;
  }

  .slider-dots {
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .image {
    width: 50%;
  }

  .form-heading {
    text-align: center;
  }

  .step {
    width: 30px;
    height: 30px;
  }

  .form-wrap-1 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .form_block-1 {
    grid-row-gap: 30px;
    flex-direction: column;
    align-items: stretch;
  }

  .text-block {
    font-size: 20px;
  }

  .hero-logo-wrap {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .slider_mask {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .slide-2, .slide-3 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .slide-4 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .right-arrow {
    left: 20%;
  }

  .step-copy {
    width: 30px;
    height: 30px;
  }
}

#w-node-a9703a6b-41f5-e3ce-5aaa-79023e28d522-1b33776b, #w-node-a9703a6b-41f5-e3ce-5aaa-79023e28d52f-1b33776b, #w-node-a9703a6b-41f5-e3ce-5aaa-79023e28d53c-1b33776b, #w-node-e0332e4c-7f9d-f38a-b73b-a25a2f580328-1b33776b, #w-node-_26e37945-27a7-6b52-26ee-7c90f122e539-1b33776b, #w-node-_68cc3d9f-39f1-e66a-bf15-abcddfc4cae7-1b33776b, #w-node-a9033d10-fde1-415e-0d7d-06fe7a5c9ddb-1b33776b, #w-node-c94db2ad-68f7-f368-57a2-23e2075f3188-1b33776b, #w-node-_2cc5a2e2-c1d5-6fbd-1418-0910bd28437f-1b33776b, #w-node-_396ed6b4-5c51-19c9-e452-ad4f9773c96c-1b33776b, #w-node-_58510847-999a-7534-f731-435f8d9c6129-1b33776b, #w-node-d2d69c8e-21a4-0fe7-08ee-77c5c6457cc4-1b33776b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627ca17-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca1c-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca21-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca26-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca2c-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca32-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca38-49337772 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb45-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb5e-49337772 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb61-49337772 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb63-49337772 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb66-49337772 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cbb8-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc2-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc3-49337772 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc31-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc36-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc3b-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc40-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc45-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc4a-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc54-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc59-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc5e-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc63-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc68-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc6d-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc72-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc77-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc7c-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc81-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc86-49337772 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8a-49337772 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8b-49337772 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8d-49337772 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc90-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc95-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc9a-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccaf-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb4-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb9-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccbe-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc3-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc8-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd2-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd7-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccdc-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce1-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce6-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cceb-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf0-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf5-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccfa-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccff-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd04-49337772 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd08-49337772 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd09-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd0e-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd13-49337772, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd18-49337772 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd6b-49337772 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cdc7-49337772 {
  justify-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-_6c463db6-ac1d-d018-5242-8aff5ce6624b-db3acbda {
    grid-area: 1 / 1 / 2 / 2;
  }
}


